<div id="addButton">
  <button (click)="togglePostForm()">{{ postToggle ? 'Cancel' : 'Add Post' }}</button>
  <div *ngIf="postToggle">
    <table>
      <tr>
        <td>Title:</td>
        <td><input type="text" [(ngModel)]="newPost.title"></td>
      </tr>
      <tr>
        <td>AlbumID:</td>
        <td><input type="number" min="0" [(ngModel)]="newPost.albumId"></td>
      </tr>
      <tr>
        <td>URL/File:</td>
        <td>
          <input type="file" (change)="handleFileInput($event)">
          <input type="text" [(ngModel)]="newPost.url">
        </td>
      </tr>
    </table>
    <button (click)="submitPost()">Submit</button>
  </div>
</div>


<div class="postContainer" *ngFor="let post of posts">
  <div>
    <post
      [id]="post.id"
      [title]="post.title"
      [url]="post.url"
      [thumbnailUrl]="post.thumbnailUrl"
    ></post>
  </div>
</div>
<div id="buttons">
  <button class="postButton" [disabled]="currentPage <= 1" (click)="loadPrevious()">Previous</button>
  <select class="pageSelect" [(ngModel)]="currentPage" (ngModelChange)="loadPage()">
    <option *ngFor="let page of totalPagesArray" [ngValue]="page">{{ page }}</option>
  </select>
  <button class="postButton" [disabled]="currentPage >= totalPages" (click)="loadNext()">Next</button>
</div>

