<div class="postDetails">
  <div>
    <input *ngIf="isEditing; else notEditing" type="text" [(ngModel)]="data.post.title" placeholder="Enter a title">
    <br>
    <ng-template #notEditing>
      <p>{{ data.post.title }}</p>
    </ng-template>
    <img [src]="data.post.url" alt="Post Image"><br>
    <input *ngIf="isEditing" type="file" (change)="handleUpdate($event)">
    <br>
    <button (click)="deletePost()">Delete</button>
    <button (click)="isEditing ? saveEdit() : toggleEdit()">{{ isEditing ? 'Save' : 'Edit' }}</button>
  </div>
</div>
