<button id="postDetailBack" [routerLink]="'/home'"> Back </button>
<div class="postDetails">
  <div>
    <ng-container *ngIf="post">
      <div *ngIf="isEditing; else notEditing">
        <input class='details' type="text" [(ngModel)]="post.title" placeholder="Enter a title"><br>
        <input class='details' type="number" min="0" [(ngModel)]="post.albumId" placeholder="Enter album Id"><br>
        <input class='details' type="text" [(ngModel)]="post.url" placeholder="Enter image url"><br>
      </div>
      <ng-template #notEditing>
        <p class='details'>{{ post.title }}</p>
        <p class='details'>Album ID: {{ post.albumId }}</p>
        <p class='details'>URL: {{ post.url }}</p>
      </ng-template>
      <img [src]="post.url" class='imageDetails' alt="Post Image"><br>
      <input *ngIf="isEditing" type="file" (change)="handleUpdate($event)">
      <br>
    </ng-container>
    <button (click)="deletePost()">Delete</button>
    <button (click)="isEditing ? (saveEdit() && toggleEdit()) : toggleEdit()">{{ isEditing ? 'Save' : 'Edit' }}</button>
  </div>
</div>
